<div class="col-lg-12">
    <section class="panel">
        <div class="panel-body">
            <div class="tab-content">
                <div id="recent-activity" class="tab-pane active">
                    <div class="profile-activity">
                        <div class="act-time">
                            <div class="activity-body act-in">
                                <span class="arrow"></span>
                                <div class="text">
                                    <a href="#" class="activity-img"><img class="avatar" src="img/chat-avatar.jpg" alt=""></a>
                                    <p class="attribution"><a href="#"><%=item.username%> <a><%=item.tel%></a></a> <%=item.addtime%></p>

                                    <p><%=item.content%></p>
                                    <a class="btn btn-default" href="" title="Bootstrap 3 themes generator">接单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>